{% extends "base.html" %}

{% block contenido %}

<h1>HOLA bienbiendo{{request.user.first_name}} {{request.user.last_name}}</h1>

<section class="article">
   
    <div class="column is-8 is-offset-2">

        <div class="card article">
            <div class="card-content">
                <div class="media">

                   
                    <div class="media-content has-text-centered">
                        <p class="title article-title">{{objecto.nombre}}</p>
                        <div class="tags has-addons level-item">
                            <span class="tags is-rounded is-info">{{objecto.precio}}</span>
                            <span class="tag is-rounded">fecha 20/05/2022</span>
                        </div>
                    </div>
               
                </div>
                <div class="content article-body">
                    
                </div>
            </div>
        </div>
        
</section>


{% endblock %}